button {
  font-size: var(--font-medium);
  background-color: var(--color-pink);
  color: var(--color-white);
  border-radius: var(--size-border-radius);
  border: none;
  padding: var(--size-padding-text);
  cursor: pointer;
}
