button,
.greeting__login-btn,
.header__home-btn,
input[type='submit'] {
  font-size: var(--font-medium);
  background-color: var(--color-pink);
  color: var(--color-white);
  border-radius: var(--size-border-radius);
  border: 2px solid var(--color-pink);
  padding: var(--size-padding-text);
  cursor: pointer;
  outline: none;
  transition: all var(--animation-duration) ease-in-out;
}

button *,
.greeting__login-btn *,
.header__home-btn *,
input[type='submit'] * {
  cursor: pointer;
}

button:hover,
.greeting__login-btn:hover,
.header__home-btn:hover,
input[type='submit']:hover {
  border: 2px solid var(--color-pink);
  color: var(--color-pink);
  background-color: var(--color-white);
}
