header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: fixed;
  left: 0;
  top: 0;
  border-bottom: 2px solid var(--color-pink);
  height: var(--size-header-height);
  width: 100%;
}

header button {
  position: absolute;
  left: 5px;
  top: 5px;
}

header span {
  font-size: var(--font-large);
}
