header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: fixed;
  left: 0;
  top: 0;
  border-bottom: 2px solid var(--color-pink);
  height: var(--size-header-height);
  width: 100%;
  background-color: var(--color-white);
  color: var(--color-pink);
}

.header__home-btn {
  position: absolute;
  left: 5px;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--font-medium) * 1.8);
  height: calc(var(--font-medium) * 1.8);
  padding: 0;
}

.header__title {
  font-size: var(--font-large);
}
