input {
  border: none;
  font-size: var(--font-medium);
  padding: var(--size-padding-text);
  border-bottom: 2px solid var(--color-light-grey);
  cursor: text;
  transition: all var(--animation-duration) ease-in-out;
}

input::placeholder {
  color: var(--color-light-grey);
}

input:focus {
  outline: none;
  border-color: var(--color-pink);
}
