nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--size-navbar-height);
  background-color: var(--color-white);
}

nav * {
  cursor: pointer;
}

nav span {
  margin-bottom: 10px;
  font-size: var(--font-regular);
}

nav i {
  font-size: var(--font-large);
}

nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex: 1 1 100%;
  background-color: var(--color-pink);
  color: var(--color-white);
  min-width: 85px;
}

nav a.selected {
  color: var(--color-pink);
  background-color: var(--color-white);
}
