.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  padding: 50px;
  width: 100%;
  margin-bottom: 10px;
}
.title__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-header);
  margin-bottom: 20px;
}
.title i {
  margin-right: 5px;
}
.title__description {
  text-align: center;
  font-size: var(--font-regular);
  color: var(--color-light-grey);
}
