/* Config */
@import url('./config/_reset.css');
@import url('./config/_variables.css');
@import url('./config/_set-containers.css');

/* Components */
@import url('./components/title.css');
@import url('./components/footer.css');
@import url('./components/input.css');
@import url('./components/button.css');
@import url('./components/navbar.css');
@import url('./components/header.css');
@import url('./components/checkbox.css');

/* Screens */
@import url('./screens/home.css');
@import url('./screens/login.css');
@import url('./screens/join.css');
@import url('./screens/workout.css');
@import url('./screens/calendar.css');
@import url('./screens/my-info.css');
@import url('./screens/settings.css');

/* Settings screens */
@import url('./screens/settings/my-body.css');

* {
  box-sizing: border-box;
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

/* Invisible Scroll */
body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

/* Error Message */
.error-message {
  padding: var(--size-padding-text);
  color: var(--color-red);
  margin: 15px auto;
  text-align: center;
  display: block;
  font-size: var(--font-regular);
}

/* Dev */
.stopwatch__container {
  display: none;
}
.break__container {
  display: none;
}
.records__container {
  /* display: none; */
}
