/* Config */
@import url('./config/_reset.css');
@import url('./config/_variables.css');

/* Components */
@import url('./components/title.css');
@import url('./components/footer.css');
@import url('./components/input.css');
@import url('./components/button.css');
@import url('./components/navbar.css');
@import url('./components/header.css');

/* Screens */
@import url('./screens/login.css');
@import url('./screens/home.css');
@import url('./screens/workout.css');

* {
  box-sizing: border-box;
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

/* Invisible Scroll */
body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

/* Sections */
.login__container,
.home__container,
.workout__container,
.calendar__container,
.my-info__container,
.settings__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  overflow-y: scroll;
  padding: 10px;
}
.login__container {
  padding-bottom: var(--size-container-padding-bottom-footer);
}
.home__container {
  padding-bottom: var(--size-container-padding-bottom-navbar);
}
.workout__container,
.calendar__container,
.my-info__container {
  padding-top: var(--size-container-padding-top);
  padding-bottom: var(--size-container-padding-bottom-navbar);
}
.settings__container {
  padding-top: var(--size-container-padding-top);
  padding-bottom: var(--size-container-padding-bottom-footer);
}
