extends ../base.pug

block content
  include ../partials/header
  .calendar__container
    .calendar
      .calendar__header
        button.prev-month-btn
          i.fa-solid.fa-angle-left
        span.calendar__month April, 2022
        button.next-month-btn
          i.fa-solid.fa-angle-right
      table.calendar__contents
        tr.calendar__weeks
          td Sun
          td Mon
          td Tue
          td Wed
          td Thu
          td Fri
          td Sat
        tr.calendar__days
          td 
            span.calendar__day.not-current 27
          td 
            span.calendar__day.not-current 28
          td 
            span.calendar__day.not-current 29
          td 
            span.calendar__day.not-current 30
          td 
            span.calendar__day.not-current 31
          td
            span.calendar__day 1
            span.calendar__workout-time 80 min
            span.calendar__sets 30 set
            ul.calendar__sets-category
              li Chest 20
              li Trice 10
          td 
            span.calendar__day 2
            span.calendar__workout-time 80 min
            span.calendar__sets 30 set
            ul.calendar__sets-category
              li Chest 20
              li Trice 10
        tr.calendar__days
          - for (let i = 3; i <10; i++)
            td
              span.calendar__day= i
        tr.calendar__days
          - for (let i = 10; i <17; i++)
            td
              span.calendar__day= i
              span.calendar__workout-time 120 min
              span.calendar__sets 40 set
              ul.calendar__sets-category
                li Chest 20
                li Trice 10
                li Bicep 10
        tr.calendar__days
          - for (let i = 17; i <24; i++)
            td
              span.calendar__day= i
              span.calendar__workout-time 60 min
              span.calendar__sets 20 set
              ul.calendar__sets-category
                li Back 20
        tr.calendar__days
          - for (let i = 24; i <31; i++)
            td
              span.calendar__day= i
              span.calendar__workout-time 80 min
              span.calendar__sets 30 set
              ul.calendar__sets-category
                li Chest 20
                li Trice 10

  include ../partials/navbar
