extends ../base.pug

block content
  include ../partials/title

  .greeting
    h2 안녕하세요, username님

  .workout
    span.workout__title 오늘의 운동
    span.workout__content 가슴

  .routine
    span.routine__tilte 현재 루틴
    span.routine__content 가슴-등-어깨-하체

  include ../partials/navbar
