extends ../base.pug

block content
  .container.home__container
    .home
      include ../partials/title
      .greeting
        if (loggedIn)
          h2 Hello, #{ user.username }
        if (!loggedIn)
          a.greeting__login-btn(href='/login') Login

      .workout
        span.workout__title Today's Workout
        span.workout__content Chest

      .routine
        span.routine__title Current Routine
        ul.routine__content
          li Chest
          li Back
          li Shoulder
          li Lower Body

  include ../partials/navbar
