extends ../base.pug

block content
  include ../partials/title

  .home__container
    .greeting
      h2 Hello, username

    .workout
      span.workout__title Today's Workout
      span.workout__content Chest

    .routine
      span.routine__tilte Current Routine
      span.routine__content Chest-Back-Shoulder-Lower Body

  include ../partials/navbar
