extends ../base.pug

block content
  include ../partials/header
  .container.login__container
    .login
      include ../partials/title
      form.login__form
        input.login__id(type='text', placeholder='Id', required)
        input.login__password(
          type='password',
          placeholder='Password',
          required
        )
        button.login-btn Login
        span
      a.join(href='../join') Create a new account
      a.find-account(href='#') Find your account or password

  include ../partials/footer
