extends ../base.pug

block content
  .login__container
    include ../partials/title
    .login
      form.login__form
        input.login__id(type='text', placeholder='Id', required)
        input.login__password(
          type='password',
          placeholder='Password',
          required
        )
        button.login-btn Login
        span
      a.join(href='#') Register your account
      a.find-account(href='#') Find your account or password

  include ../partials/footer
