extends ../base.pug

block content
  include ../partials/title

  .login
    input(type='text', placeholder='Id', required)
    input(type='password', placeholder='Password', required)
    button Login
    button Join

    include ../partials/footer
