extends ../base.pug

block content
  include ../partials/header
  .container.settings__container
    .settings
      .settings__section
        .settings__class
          i.fa-solid.fa-dumbbell
          span Workout
        .settings__items
          .settings__item
            i.fa-solid.fa-hourglass-empty
            span Break time
          .settings__item
            i.fa-regular.fa-note-sticky
            span Template
          .settings__item
            i.fa-solid.fa-arrows-rotate
            span Routine

      .settings__section
        .settings__class
          i.fa-solid.fa-user
          span My info
        .settings__items
          .settings__item
            i.fa-solid.fa-child-reaching
            span My body

      .settings__section
        .settings__class
          i.fa-solid.fa-gears
          span General
        .settings__items
          .settings__item
            i.fa-solid.fa-user-gear
            span User
          .settings__item
            i.fa-solid.fa-brush
            span Theme

      a.button.settings__logout-btn(href='/logout') Logout
  include ../partials/footer
