extends ../base.pug

block content
  include ../partials/header
  .container.settings__container
    .settings
      .settings__section
        .settings__class
          i.fa-solid.fa-dumbbell
          span Workout
        .settings__items
          a.settings__item(href='/settings/break-time')
            i.fa-solid.fa-hourglass-empty
            span Break time
          a.settings__item(href='/settings/template')
            i.fa-regular.fa-note-sticky
            span Template
          a.settings__item(href='/settings/routine')
            i.fa-solid.fa-arrows-rotate
            span Routine

      .settings__section
        .settings__class
          i.fa-solid.fa-user
          span My info
        .settings__items
          a.settings__item(href='/settings/my-body')
            i.fa-solid.fa-child-reaching
            span My body

      .settings__section
        .settings__class
          i.fa-solid.fa-gears
          span General
        .settings__items
          a.settings__item(href='/settings/user')
            i.fa-solid.fa-user-gear
            span User
          a.settings__item(href='/settings/theme')
            i.fa-solid.fa-brush
            span Theme

      a.button.settings__logout-btn(href='/logout') Logout
  include ../partials/footer
