extends ../base.pug

block content
  include partials/header

  .stopwatch
    .stopwatch__time
      span HH:MM:SS.00
    .stopwatch__time--pure
      span HH:MM:SS.00

    .stopwatch__buttons
      .stopwatch__buttons-first
        button.start 시작/일시정지
        button.break 휴식
      .stopwatch__buttons-second
        button.reset 초기화
        button.quit 종료

  .break
    .break__timer
      span ss/ss
    button.break-end 휴식 종료

  .navbar-workout
    .nav__stopwatch
      span 스톱워치
      i.fa-solid.fa-stopwatch
    .nav__records
      span 기록
      i.fa-solid.fa-pen-to-square 
