extends ../base.pug

block content
  include ../partials/header
  .container.stopwatch__container
    .stopwatch
      span.stopwatch__time HH:MM:SS.00
      span.stopwatch__time--pure HH:MM:SS.00

      .stopwatch__buttons
        button.start-btn Start
        button.break-btn Break
        button.reset-btn Reset

  .container.break__container
    .break
      .break__timer
        span.remain-time 24
        span.total-time 60
      button.break-end-btn End

  .container.records__container
    .records
      .records__buttons
        button.load-btn
          i.fa-solid.fa-plus
          span Load
        button.save-btn
          i.fa-solid.fa-check
          span Save

      if errorMessage
        span.message.error-message= errorMessage
      span.message

      form.records__board
        .board
        button.add-note-btn(type='button')
          i.fa-solid.fa-plus
          span Add a note

  nav
    a.nav__stopwatch
      span Stopwatch
      i.fa-solid.fa-stopwatch
    a.nav__records
      span Records
      i.fa-solid.fa-pen-to-square 

block scripts
  script(src='/static/js/stopwatch.js', defer)
  script(src='/static/js/recordsBoard.js', defer)
