extends ../base.pug

block content
  include ../partials/header

  .workout__container
    .stopwatch__container
      .stopwatch
        .stopwatch__time
          span HH:MM:SS.00
        .stopwatch__time--pure
          span HH:MM:SS.00

        .stopwatch__buttons
          .stopwatch__buttons-basic
            button.start-btn Start
            button.break-btn Break
          .stopwatch__buttons-danger
            button.reset-btn Reset
            button.quit-btn Quit

      .braek__container
        .break
          .break__timer
            span ss/ss
          button.break-end-btn End Of Break

    .records__container

  nav
    .nav__stopwatch.selected
      span Stopwatch
      i.fa-solid.fa-stopwatch
    .nav__records
      span Records
      i.fa-solid.fa-pen-to-square 
