extends ../base.pug

block content
  include partials/header

  .workout__container
    .stopwatch__container
      .stopwatch
        .stopwatch__time
          span HH:MM:SS.00
        .stopwatch__time--pure
          span HH:MM:SS.00

        .stopwatch__buttons
          .stopwatch__buttons-first
            button.start-btn Start/Pause
            button.break-btn Break
          .stopwatch__buttons-second
            button.reset-btn Reset
            button.quit-btn Quit

    .braek__container
      .break
        .break__timer
          span ss/ss
        button.break-end-btn End Of Break

    .records__container

  .navbar-workout
    .nav__stopwatch
      span Stopwatch
      i.fa-solid.fa-stopwatch
    .nav__records
      span Records
      i.fa-solid.fa-pen-to-square 
