extends ../base

block content
  include ../partials/header
  .container.stopwatch__container
    .stopwatch
      span.stopwatch__time HH:MM:SS.00
      span.stopwatch__time--pure HH:MM:SS.00

      .stopwatch__buttons
        button.start-btn Start
        button.break-btn Break
        button.reset-btn Reset

  .container.break__container
    .break
      .break__timer
        span.remain-time 24
        span.total-time 60
      button.break-end-btn End

  .container.records__container
    .records
      .records__buttons
        button.load-btn
          i.fa-solid.fa-plus
          span Load
        button.save-btn
          i.fa-solid.fa-check
          span Save

      if errorMessage
        span.message.error-message= errorMessage
      span.message

      form.records__board
        .board
        button.add-note-btn(type='button')
          i.fa-solid.fa-plus
          span Add a note

  .loader__window
    .loader__header
      span.loader__title Load Records
      button.close-loader-btn
        i.fa-solid.fa-xmark
    .container.loader__container
      .loader__records
        .loader-records__header
          button.view-more-btn
            i.fa-solid.fa-chevron-down
          span.loader-records__date 2022. 05. 01.
          span.loader-records__category Chest
          button.load-records-btn
            i.fa-solid.fa-plus
            span Load
        .board
          .note
            .note__header
              span.note__title Bench press
              select.note__category(name='category', disabled)
                option(value='') Category
            .note__contents
              ul.note__sets
                li.note__set
                  span.set-number 1
                  span.set-weight 60kg
                  span.set-reps 5
                li.note__set
                  span.set-number 1
                  span.set-weight 60kg
                  span.set-reps 5
          .note
            .note__header
              span.note__title Bench press
              select.note__category(name='category', disabled)
                option(value='') Category
            .note__contents
              ul.note__sets
                li.note__set
                  span.set-number 1
                  span.set-weight 60kg
                  span.set-reps 5
                li.note__set
                  span.set-number 1
                  span.set-weight 60kg
                  span.set-reps 5

      .loader__records
        .loader-records__header
          button.view-more-btn
            i.fa-solid.fa-chevron-down
          span.loader-records__date 2022. 05. 01.
          span.loader-records__category Chest
          button.load-records-btn
            i.fa-solid.fa-plus
            span Load
        .board
          .note
            .note__header
              span.note__title Bench press
              select.note__category(name='category', disabled)
                option(value='') Category
            .note__contents
              ul.note__sets
                li.note__set
                  span.set-number 1
                  span.set-weight 60kg
                  span.set-reps 5
                li.note__set
                  span.set-number 1
                  span.set-weight 60kg
                  span.set-reps 5
          .note
            .note__header
              span.note__title Bench press
              select.note__category(name='category', disabled)
                option(value='') Category
            .note__contents
              ul.note__sets
                li.note__set
                  span.set-number 1
                  span.set-weight 60kg
                  span.set-reps 5
                li.note__set
                  span.set-number 1
                  span.set-weight 60kg
                  span.set-reps 5

  nav
    a.nav__stopwatch
      span Stopwatch
      i.fa-solid.fa-stopwatch
    a.nav__records
      span Records
      i.fa-solid.fa-pen-to-square 

block scripts
  script(src='/static/js/stopwatch.js', defer)
  script(src='/static/js/recordsBoard.js', defer)
  script(src='/static/js/recordsLoader.js', defer)
