footer
  .footer__contact Contact
    .footer__email
      i.fa-solid.fa-envelope 
      span haedong1111@gmail.com
    .footer__github
      a(
        href='https://github.com/defrostingk',
        target='_blank',
        title='Go to GitHub'
      ) 
        i.fa-brands.fa-github
        span https://github.com/defrostingk
  span.footer__copyright &copy; 2022. defrostingk All rights reserved.
