nav 
  .nav__workout
    span Go Workout
    i.fa-solid.fa-dumbbell
  .nav__calendar
    span Calendar
    i.fa-solid.fa-calendar-days
  .nav__info
    span My Info
    i.fa-solid.fa-user
  .nav__settings
    span Settings
    i.fa-solid.fa-gear
