nav 
  a.nav__workout(href='/workout')
    span Workout
    i.fa-solid.fa-dumbbell
  a.nav__calendar(href='/calendar')
    span Calendar
    i.fa-solid.fa-calendar-days
  a.nav__info(href='/my-info')
    span My Info
    i.fa-solid.fa-user
  a.nav__settings(href='/settings')
    span Settings
    i.fa-solid.fa-gear
