nav 
  a.nav__workout
    span Workout
    i.fa-solid.fa-dumbbell
  a.nav__calendar
    span Calendar
    i.fa-solid.fa-calendar-days
  a.nav__info
    span My Info
    i.fa-solid.fa-user
  a.nav__settings
    span Settings
    i.fa-solid.fa-gear
