/* Sections */
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  overflow-y: scroll;
  padding: 20px;
  padding-top: var(--size-container-padding-top);
  padding-bottom: var(--size-container-padding-bottom-navbar);
}
.login__container,
.join__container {
  padding-bottom: var(--size-container-padding-bottom-footer);
}
.home__container {
  padding-top: 20px;
  padding-bottom: var(--size-container-padding-bottom-navbar);
}
.settings__container {
  padding-bottom: var(--size-container-padding-bottom-footer);
}
