:root {
  /* Color */
  --color-pink: #ffc0cb;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-grey: #444041;
  --color-light-grey: #b2b2b2;
  --color-red: #fd4f79;
  --color-blue: #2d8cff;
  --color-yellow: #edf529;
  --color-light-brown: #fee4a9;

  /* Font */
  --font-header: 48px;
  --font-large: 32px;
  --font-medium: 24px;
  --font-regular: 16px;
  --font-small: 12px;
  --font-micro: 8px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 300;

  /* Size */
  --size-border-radius: 4px;
  --size-space: 10px;
  --size-padding-text: 0.25em 0.5em;
  --size-header-height: 54px;
  --size-footer-height: 110px;
  --size-navbar-height: 80px;
  --size-container-padding-top: 70px;
  --size-container-padding-bottom-footer: 125px;
  --size-container-padding-bottom-navbar: 95px;
  --size-content-max-width: 400px;

  /* Border */

  /* Animation */
  --animation-duration: 300ms;
}
