.home__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  padding-bottom: var(--size-footer-height);
}

.greeting,
.workout,
.routine {
  display: flex;
  flex-direction: column;
  text-align: center;
}
