.home {
  margin: auto;
  width: 100%;
  max-width: var(--size-content-max-width);
}

.greeting,
.workout,
.routine {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  max-width: var(--size-content-max-width);
  width: 100%;
}

.greeting,
.workout {
  margin-bottom: 40px;
}

.greeting {
  font-size: var(--font-large);
  color: var(--color-pink);
}

.greeting h2 {
  padding: var(--size-padding-text);
  width: 100%;
  border-bottom: 2px solid var(--color-pink);
  max-width: fit-content;
}

.greeting__login-btn {
  width: 100%;
  background-color: var(--color-white);
  color: var(--color-pink);
}

.greeting__login-btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.workout,
.routine {
  font-size: var(--font-medium);
}

.workout *,
.routine * {
  padding: var(--size-padding-text);
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.workout__title,
.routine__title {
  background-color: var(--color-pink);
  color: var(--color-white);
  border-radius: var(--size-border-radius) var(--size-border-radius) 0 0;
}

.workout__content,
.routine__content li {
  border-bottom: 2px solid var(--color-pink);
  color: var(--color-pink);
}
