.join {
  margin: auto;
  width: 100%;
  max-width: var(--size-content-max-width);
}

.join__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.join__form input {
  width: 100%;
}

.join__password-confirm {
  margin-bottom: 20px;
}

.join__join-btn {
  width: 100%;
}
