.my-info {
  width: 100%;
  margin: auto;
  max-width: var(--size-content-max-width);
}

.big3__header,
.my-body__header,
.target__header {
  border-bottom: 2px solid var(--color-pink);
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big3__header {
  flex-direction: column;
}

.big3__header .big3__title {
  font-size: var(--font-medium);
  margin-bottom: 5px;
  color: var(--color-light-grey);
}

.big3__sum,
.my-body__header,
.target__header {
  font-size: var(--font-large);
  color: var(--color-pink);
}

.big3__contents div,
.my-body__contents div,
.target__contents div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: var(--font-regular);
}

.my-records {
  display: flex;
  align-items: center;
}

.my-records span:first-child {
  margin-right: 5px;
}
