.braek__container,
.records__container {
  display: none;
}
.workout__container {
  padding: 10px;
  padding-top: var(--size-container-padding-top);
  padding-bottom: var(--size-container-padding-bottom);
}
