.break__container,
.records__container {
  display: none;
}

.stopwatch,
.break,
.records {
  width: 100%;
  max-width: var(--size-content-max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stopwatch,
.break {
  margin: auto;
}

.records {
  margin: 0 auto;
}

/* Stopwatch */
.stopwatch__time {
  font-size: var(--font-header);
  margin-bottom: 10px;
  color: var(--color-pink);
}

.stopwatch__time--pure {
  font-size: var(--font-medium);
  color: var(--color-light-grey);
  margin-bottom: 80px;
}

.stopwatch__buttons,
.stopwatch__buttons--danger {
  max-width: var(--size-content-max-width);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.stopwatch__buttons {
  margin-bottom: 50px;
}

.stopwatch__buttons button,
.stopwatch__buttons--danger button {
  width: 100%;
  margin: 5px;
}

.reset-btn {
  color: var(--color-pink);
  background-color: var(--color-white);
}

.reset-btn:hover {
  color: var(--color-white);
  background-color: var(--color-pink);
}

/* Break */
.break__timer {
  font-size: calc(var(--font-header) * 1.8);
  border-radius: 50%;
  border: 2px solid var(--color-pink);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-pink);
  margin-bottom: 40px;
}

.remain-time,
.total-time {
  display: flex;
  font-weight: var(--weight-regular);
  height: 300px;
  width: 150px;
  align-items: center;
  justify-content: center;
}

.remain-time {
  border: 2px solid var(--color-pink);
  border-radius: 150px 0 0 150px;
  color: var(--color-pink);
  background-color: var(--color-white);
}

.total-time {
  color: var(--color-white);
}

.break-end-btn {
  width: 100%;
}

/* Records */
.records__buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  width: 100%;
}

.load-btn,
.save-btn,
.add-note-btn {
  display: flex;
  align-items: center;
}

.load-btn i,
.save-btn i,
.add-note-btn i {
  margin-right: 10px;
}

.save-btn {
  background-color: var(--color-white);
  color: var(--color-pink);
}

.records__board {
  width: 100%;
  background-color: var(--color-pink);
  border-radius: var(--size-border-radius);
  padding: 10px;
}

.note {
  width: 100%;
  background-color: var(--color-light-brown);
  border-radius: var(--size-border-radius);
  padding: 10px;
  margin-bottom: 10px;
}

.note__header {
  font-size: var(--font-medium);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-pink);
  padding: var(--size-padding-text);
  margin-bottom: 10px;
}

.note__title {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 100%;
  margin-right: 10px;
}

.note__category {
  font-size: var(--font-small);
  padding: var(--size-padding-text);
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
  border: none;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: fit-content;
}

.note__set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

.delete-set-btn,
.add-set-btn {
  font-size: var(--font-small);
  width: calc(var(--font-small) * 2);
  height: calc(var(--font-small) * 2);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-weight,
.set-reps {
  font-size: var(--font-regular);
  width: 50px;
  background-color: transparent;
  border: none;
  padding: 0;
}

/* Loader */
.loader__window {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  display: none;
  flex-direction: column;
}

.loader__container {
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.loader__records {
  width: 100%;
}

.loader-records__header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: var(--font-regular);
  border-radius: var(--size-border-radius);
  background-color: var(--color-pink);
  padding-left: 50px;
  padding-right: 75px;
  position: relative;
}

.loader-records__header,
.view-more-btn,
.load-records-btn {
  height: 45px;
}

.loader-records__header button:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.view-more-btn {
  font-size: var(--font-medium);
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.view-more-btn i {
  transition: all var(--animation-duration) ease-in-out;
}

.view-more-btn i.more {
  transform: rotate(-180deg);
}

.loader-records__date {
  margin-right: 10px;
  width: 70%;
}

.load-records-btn {
  font-size: var(--font-regular);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  position: absolute;
  top: 0;
  right: 0;
}

.load-records-btn i {
  margin-right: 5px;
}

.loader__records .board {
  overflow: hidden;
  transition: all var(--animation-duration) ease-in-out;
}

.loader__records .note {
  margin-bottom: 5px;
}

.loader__records .note:last-child {
  margin-bottom: 10px;
}

.loader__records .note__set {
  height: var(--font-medium);
  text-align: center;
}

.loader__records .note__set span {
  width: 50px;
  text-align: start;
}

.loader__records .note__set span:last-child {
  text-align: end;
}
