.stopwatch,
.break {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Stopwatch */
.stopwatch__time {
  font-size: var(--font-header);
  margin-bottom: 10px;
  color: var(--color-pink);
}

.stopwatch__time--pure {
  font-size: var(--font-medium);
  color: var(--color-light-grey);
  margin-bottom: 80px;
}

.stopwatch__buttons {
  max-width: var(--size-content-max-width);
  width: 100%;
}
.stopwatch__buttons-basic,
.stopwatch__buttons-danger {
  display: flex;
}

.stopwatch__buttons button {
  margin: 5px;
  width: 100%;
}

.quit-btn {
  background-color: var(--color-red);
  border-color: var(--color-red);
}
.quit-btn:hover {
  color: var(--color-red);
}

/* Break */
.break__timer {
  font-size: calc(var(--font-header) * 1.8);
  border-radius: 50%;
  border: 2px solid var(--color-pink);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-pink);
  margin-bottom: 40px;
}

.remain-time,
.total-time {
  display: flex;
  font-weight: var(--weight-regular);
  height: 300px;
  width: 150px;
  align-items: center;
  justify-content: center;
}

.remain-time {
  border: 2px solid var(--color-pink);
  border-radius: 150px 0 0 150px;
  color: var(--color-pink);
  background-color: var(--color-white);
}

.total-time {
  color: var(--color-white);
}

.break-end-btn {
  width: 100%;
}

/* Records */
.load-btn {
  display: flex;
  align-items: center;
}

.load-btn i {
  margin-right: 10px;
}
